.slider-wrapper {
  height: 100%;
}

.carousel-slider {
  height: 100%;
}

.slider {
  height: 100%;
}

.control-arrow {
  display: none;
}

.thumbs-wrapper {
  overflow: scroll !important;
  padding-inline-start: 10px !important;
  padding-inline-end: 10px !important;
}

.thumbs-wrapper ul {
  padding-inline-start: 0 !important;
}

.thumb {
  width: auto !important;
}

.thumbs img {
  height: 100px;
  width: auto;
}