.carousel-main {
  margin: 0;
  width: 100vw;
  height: calc(100vh - 80px);
}

.carousel .slide img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

/* .slide>img {
  height: calc(100% - 150px);
  width: 100%;
  object-fit: scale-down;
} */

.slider-wrapper {
  height: 100%;
}

.carousel-slider {
  height: calc(100% - 150px);
}

.slider {
  height: 100%;
}

.control-arrow {
  display: none;
}

.thumbs-wrapper {
  overflow: scroll !important;
  padding-inline-start: 10px !important;
  padding-inline-end: 10px !important;
}

.thumbs-wrapper ul {
  padding-inline-start: 0 !important;
}

.thumb {
  width: auto !important;
}

.thumbs img {
  height: 100px;
  width: auto;
}